.banner{
background-image: url("../images/background.jpg");
background-color: black;
background-size: cover;
height: 100%;
background-repeat: no-repeat;
color:lightgray;
font-family:  'Orbitron', sans-serif;
font-style: bold;
text-align:center;
text-shadow: 4px 4px 4px darkred;
margin-bottom:1%;

}

body {
background-image: url("../images/DeathStar10-13.jpg");

background-repeat: no-repeat;
height:100%;
background-position: 0% 20%;
font-family: 'Orbitron', sans-serif;
color:white;
background-color: black;

}


#player-choices {
text-align:center;
padding-top:2%;
}

/*player card formatting*/
.character-card {
padding-top:10px;
padding-bottom:5px;
padding-left:0px;
padding-right:0px;
color:white;
font-size:10px;
font-style: bold;


}

/*cards in bootstrap cols css to pad*/

.card-col {
padding-left: 5px;
padding-right: 15px;
text-align: center;

}


/*scaling the bootsrap container - need more work with bootstrap sizing*/
.character-container {
width:50%;

}

/*div containing the bootstrap progress bars*/
.progress{
height:20px;
font-size:12px;

}


/*left section of progress bar*/
.PBHP {
font-size:8px;
text-align: left;
padding-left:3px;

}


/*player card footer area css*/
.card-footer {
height:35px;

}


/* after player chosen formatting */
#playerPlaceholder, #defenderPlaceholder {
text-align:center;
width:147;
height:214;


}


/* format the image used as button to attack*/
.attack-img {
width:125px;
height:125px;
}


/* section hidden at start visible during attack*/
#attack-section {
text-align:center;
display:none;

}

/* overall battle area*/
#battle-area {
padding-top:5%;
}

/*text area used for alerts during game */
#alert-text {
color: white;
font-size: 16px;
padding-top: 5%;
text-shadow: 4px 4px 4px darkred;
text-align:center;


}

/* play aiain button*/
.btn-row {
text-align:center;
padding-top: 3%;
display:none;
}

/* formatting for attack and conter attack message*/
#playerStats  {

min-height:45px;
font-size:14px;
}

#defenderStats{
    font-size:14px;

}


