@import "reset.css";

.charBtn {
color:white;
font-size:18px;
height: 200px;
width: 200px;
}

#attackBtn{
   margin-left:75px;
    color:darkred;
    font-size:20px;
    font-weight:bold;
    height: 200px;
    width: 250px;  
  
    
}

#playerHeading{
padding-left-0;

}



.playerSquare{
height:200px;
width:200px;
}



body {
background-image: url("../images/wp3071036.jpg");
background-repeat: no-repeat;
margin-left:0px;


}

.progress-bar {
font-size:10px;
}

#playerStats, #defenderStats {


font-size:20px;
color:white;
margin-left: 75px;
}

h2 {
font-size:24px;
color:white;
padding-top:10px;
padding-bottom:10px;
padding-left: 25px;
}

.charBox {
color:white;

height:200px;
width:200px;
margin-left:0;
margin-right:0;
margin-bottom:5px;
margin-top:5px;
padding-left:0;
padding-right:0;
border:solid 1px black;
}

#Row1player1, #Row1player2,#Row1player3,#Row1player4{
padding-left:20px;
text-align: center;

}

#Row1player1 {
    
background-color:steelblue
    }

#Row1player2{
        
background-color:green;}
        
#Row1player3 {
            
background-color:darkred;
            }

#Row1player4{
                
background-color:grey;
                }

#Row2player1,#Row2player2,#Row2player3,#Row2player4 {
padding-top:10px;

}

#Row3player1, #Row3player2,#Row3player3,#Row3player4 {
    padding-top:5px;
    padding-bottom:5px;
    }

#game-characters{
padding-left:0;
padding-right:0;
}

.centered {
    position: absolute;
    bottom:5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }