@import "reset.css";

.charBtn {
color:white;
font-size:18px;
height: 200px;
width: 200px;
}

#attackBtn{
    color:black;
    font-size:24px;
    font-weight:bold;
    height: 200px;
    width: 200px;  
    background-image: url("../images/battle.png");
    background-repeat: no-repeat;
}

.playerSquare {
height:200px;
width:200px;
}

.back-image {

height:400px;

}

body {
    background-image: url("../images/wp3071036.jpg");
background-repeat: no-repeat;
opacity:.75;

}

#playerStats, #defenderStats {
font-size:24px;
color:white;
}